# <b>Data Scrape Economic Calendar</b><br>
Scraping Economic Calendar from Investing.com<br>
https://www.investing.com/economic-calendar/

1) For first time use, need to pip install investpy package

In [15]:
#!pip install investpy

In [25]:
import investpy as ip

2) Get Current Economic Calendar <br>
results are already loaded into pandas dataframe

In [26]:
current_data = ip.economic_calendar()
current_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          30 non-null     object
 1   date        30 non-null     object
 2   time        30 non-null     object
 3   zone        30 non-null     object
 4   currency    26 non-null     object
 5   importance  26 non-null     object
 6   event       30 non-null     object
 7   actual      4 non-null      object
 8   forecast    4 non-null      object
 9   previous    18 non-null     object
dtypes: object(10)
memory usage: 2.5+ KB

In [24]:
current_data.head()

,id,date,time,zone,currency,importance,event,actual,forecast,previous
0,87,19/09/2022,All Day,japan,None,None,Japan - Respect for the Aged Day,None,None,None
1,140,19/09/2022,All Day,united kingdom,None,None,United Kingdom - Bank Holiday,None,None,None
2,458743,19/09/2022,02:41,china,CNY,low,FDI (Aug),16.40%,None,17.30%
3,458944,19/09/2022,03:00,new zealand,NZD,high,RBNZ Gov Orr Speaks,None,None,None
4,458954,19/09/2022,07:15,euro zone,EUR,medium,ECB Supervisory Board Member Fernandez-Bollo S...,None,None,None

3) Scraping past economic calendar <br>
A defined date range to be imported

In [29]:
from_date ='01/05/2022'
to_date   ='31/08/2022'

hist_data = ip.economic_calendar(
    from_date = from_date,
    to_date = to_date
)

In [32]:
hist_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15995 entries, 0 to 15994
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          15995 non-null  object
 1   date        15995 non-null  object
 2   time        15995 non-null  object
 3   zone        15995 non-null  object
 4   currency    6710 non-null   object
 5   importance  6710 non-null   object
 6   event       15995 non-null  object
 7   actual      6240 non-null   object
 8   forecast    2364 non-null   object
 9   previous    6234 non-null   object
dtypes: object(10)
memory usage: 1.2+ MB

In [30]:
hist_data.head()

,id,date,time,zone,currency,importance,event,actual,forecast,previous
0,98,01/05/2022,All Day,jordan,None,None,Jordan - Labor Day,None,None,None
1,98,01/05/2022,All Day,egypt,None,None,Egypt - Labor Day,None,None,None
2,98,01/05/2022,All Day,morocco,None,None,Morocco - Labor Day,None,None,None
3,98,01/05/2022,All Day,bahrain,None,None,Bahrain - Labor Day,None,None,None
4,98,01/05/2022,All Day,chile,None,None,Chile - Labor Day,None,None,None